<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      {{ title }}
    </span>
    &nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button
      (click)="reload()">
      Reload
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<agm-map 
  [zoom]=14 [latitude]=lat [longitude]=lng
  (mapClick)="mapClicked($event)"
  [disableDefaultUI]="true"
>
  <div *ngIf="markers">
    <agm-marker *ngFor="let m of markers"
      [latitude]="m.lat"
      [longitude]="m.lng" 
      (markerClick)="clickedMarker(m.label)"
      [label]="m.label"
    >
    </agm-marker>
  </div>

  <div *ngIf="lines">
    <agm-polyline *ngFor="let m of lines">
      <agm-polyline-point [latitude]="m.src.lat" [longitude]="m.src.lng">
      </agm-polyline-point>
      <agm-polyline-point [latitude]="m.dest.lat" [longitude]="m.dest.lng">
      </agm-polyline-point>
    </agm-polyline>
  </div>

</agm-map>

<br>

<button mat-raised-button color="primary" 
  (click)="clearAll()"
> 
  CLEAR ALL 
</button>
&nbsp;
<button mat-raised-button color="primary" 
  (click)="clearConnections()"> 
  Clear Connections 
</button>
&nbsp;
<button mat-raised-button color="primary" 
  (click)="computeShortestPath()">
  Compute Shortest Path
</button>


<br>

<div *ngIf="shortest">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Shortest Path</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <strong>source: </strong> {{ src }}
      </p>
      <p>
        <strong>destination:</strong> {{ dest }}
      </p>
      <p>
        <strong>distance:</strong> {{ shortest }} km
      </p>
    </mat-card-content>
  </mat-card>
</div>
